<div>
  <div *ngIf="todo.id">
    <h4>Todo</h4>
    <div class="shadow bg-white rounded p-3">
      <div>
        <label><strong>Title:</strong></label> {{ todo.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ todo.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ todo.done ? "Done" : "Pending" }}
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-3">
      <button title="Edit" routerLink="/edit/{{ todo.id }}" class="btn btn-success">Edit</button>
      <button (click)="back()" class="btn btn-danger ms-2">Cancel</button>
    </div>

  </div>

  <div *ngIf="!todo">
    <br/>
    <p>Please click on a Todo...</p>
  </div>
</div>
